.container
  %h1 New Comment
  = form_with(model: @comment, url: board_task_comments_path, method: 'post', local: true) do |f|
    %br/
    = f.label :content, 'Description'
    %br/
    = f.text_area :content, class: 'text'
    %br/
    = f.submit "Submit", class: 'btn-primary'